<div class="">
  <!--|________||____| -->
  <div class="row">
    <div class="col-xs-4">
      <div class="top-ui">
        <h1 class="reset-space">Buzzclicker</h1>
      </div>
      <div class="bot-ui">
        <h2 class="reset-space">
          PBR beer
        </h2>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="top-ui">
      </div>
    </div>
  </div>
</div>
