<div>
  <div class="row">
    <div class="col-xs-4">
      <div class="top-ui">
        <div class="top-title">
          <h1 class="reset-space">
            BUZZCLICKER
          </h1>
        </div>
      </div>
      <div class="bot-ui">

        <!-- beer buttons buff lite -->
        <!-- <div class="upgrade-frame original" ng-hide="true">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text">
                  Buff lite
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_lite.png">
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- beer buttons buff lite -->
        <div class="upgrade-frame upgrade-1" ng-hide="bc.level > 0">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text">
                  Buff Lite
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">

                  <button class="btn btn-warning"
                          ng-click="bc.levelup(1)"
                          ng-hide="bc.beers < 5">

                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
        <!-- beer buttons buff Extra -->
        <div class="upgrade-frame upgrade-2" ng-hide="bc.level > 1">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text">
                  Buff Extra
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_extra.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">

                  <button class="btn btn-warning"
                  ng-click="bc.levelup(2)"
                  ng-hide="bc.beers < 10">

                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
           <!-- beer buttons Buff Heavy -->
        <div class="upgrade-frame upgrade-3" ng-hide="bc.level > 3">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text">
                  Buff Heavy
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_heavy.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">

                  <button class="btn btn-warning"
                  ng-click="bc.levelup(3)"
                  ng-hide="bc.beers < 15">

                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
           <!-- beer buttons Buff Diesel -->
        <div class="upgrade-frame upgrade-4" ng-hide="bc.level > 6">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text">
                  Buff Diesel
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_diesel.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">

                  <button class="btn btn-warning"
                  ng-click="bc.levelup(4)"
                  ng-hide="bc.beers < 20">
                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
           <!-- beer buttons Buff HOLY SHIT -->
        <div class="upgrade-frame upgrade-5" ng-hide="bc.level > 10">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text">
                  Buff HOLY S***
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_holy.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">

                  <button class="btn btn-warning"
                  ng-click="bc.levelup(5)"
                  ng-hide="bc.beers < 25">

                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-8">
      <div class="top-ui">
        <div class="meter-placement">
          <div id="counterHolder">
            <h1 class="counterText">Drank</h1>
            <div id= "counter" ng-bind="bc.beers"></div>
          </div>
          <div id= "barHolder">
            <h1 class="reset-space">Drunk Meter</h1>
            <div id="bar" ng-style="{ width : bc.barWidth }"></div>
          </div>
        </div>
      </div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
	 height="600px" viewBox="125 25 500 500" enable-background="new 0 0 800 800" xml:space="preserve" filter="url(#wholeBodyBlur)">

   <filter id="wholeBodyBlur" x="0" y="0">
   <feGaussianBlur in="SourceGraphic" stdDeviation="0" />
 </filter>
</defs>


<g id="Couch">
	<path fill="#30241B" d="M117.247,482h581.068c0,0,26.686-9.54,26.686-35.214c0-25.676,0-104.053,0-104.053S723.989,304,673.99,304
		s-549.987,0-549.987,0S74,308.951,74,349.49c0,40.539,0,94.593,0,94.593S79.41,482,117.247,482z"/>
	<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="123.5,304 123.5,409.5 674.5,409.5 674.5,304 	"/>
	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="298.5" y1="306" x2="298.5" y2="409"/>
	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="499.5" y1="306" x2="499.5" y2="409"/>
	<path fill="#544622" d="M88.869,446.786c0,0-2.703-17.567,9.459-16.217c12.162,1.352,21.621-2.703,22.973,6.757
		c1.351,9.46-6.757,17.566-2.703,22.973c4.054,5.405,5.406,10.811,1.352,13.514c-4.054,2.702-25.675,2.702-22.972-2.703
		c2.702-5.405,6.756,1.351,2.702-5.405c-4.054-6.757-1.351-16.217-1.351-16.217L88.869,446.786z"/>
	<path fill="#544622" d="M674,410v-18.618v-16.217c0,0-18.922-8.107-21.626,2.703c-2.702,10.811-8.11,9.459-13.515,16.216
		c-5.405,6.757-13.514,2.553-16.217,9.309c-2.703,6.757-9.461,6.607-9.461,6.607H674z"/>
	<rect x="132" y="482" width="17" height="31"/>
	<rect x="659" y="482" width="17" height="31"/>
	<path fill="#1C1608" d="M124,303.545v35.134c0,0,16.218-1.352,16.218,5.405c0,6.757,1.352,14.864,6.756,12.162
		c5.406-2.703,12.164-10.812,10.812-20.27c-1.352-9.459,8.107-10.811,4.055-14.865c-4.055-4.053-4.507-17.115-4.507-17.115
		L124,303.545z"/>
	<path fill="#1E1404" d="M421.294,482h52.702c0,0,4.954-24.814-3.153-25.715c-8.107-0.902-21.622-15.334-27.027-15.334
		c-5.404,0-22.521,3.591-27.026,9.897c-4.504,6.307-19.817,9.904-13.512,15.31c6.305,5.405,12.61,6.345,14.412,9.949
		C419.492,479.709,421.294,482,421.294,482z"/>
	<path fill="#493920" d="M267.243,410h-24.324c0,0-0.45-10.659,4.955-16.065c5.405-5.405,14.415-8.933,14.415-8.933
		s10.811,8.145,16.216,8.145s10.81-0.132,12.612,3.473c1.802,3.604,7.208,13.381,7.208,13.381H267.243z"/>
</g>
<g id="carl" ng-click="bc.drink()">
<g id="Head">
	<ellipse fill="#CEB797" stroke="#000000" stroke-miterlimit="10" cx="501.661" cy="238.643" rx="42.241" ry="33.376"/>
	<polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="514.873,222.128 523.217,213.785
		527.389,223.519 532.951,213.089 535.732,223.519 540.601,212.394 	"/>
	<polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="474.892,221.433 471.415,209.612
		467.938,220.042 462.376,212.394 	"/>
</g>
<g id="Eyes_Normal">
	<g>
		<circle cx="482.75" cy="235.25" r="3.75"/>
		<circle cx="507.75" cy="236.25" r="3.75"/>
	</g>
	<path fill="none" stroke="#000000" stroke-miterlimit="10" d="M489.039,231.533c0,0-8.246-1.144-14.328-5.815"/>
	<path fill="none" stroke="#000000" stroke-miterlimit="10" d="M502.303,232.214c0,0,8.961-1.127,14.395-4.678"/>
</g>
<g id="Eyes_Crossed" display="none">
	<g display="inline">
		<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="476.972,227.647 491.047,233.875 478.424,241.754 		"/>
		<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="513.819,244.239 501.105,235.564 514.948,230.102 		"/>
	</g>
</g>
	<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M463.25,267.75c0,0-28,1.25-39.5,2.75
		c-8.177,1.066-29.25,7.75-27.5,16.25s4.75,11.5,9.25,11.5s18,1.25,20,0.75S441,273.5,463.25,267.75z"/>
    <path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M571,304.5h62.25c0,0-4-7.5-21.667-17.125
      c-40.064-21.827-76.083-16.792-76.083-16.792S559.5,282.25,571,304.5z"/>
	<path stroke="#000000" stroke-miterlimit="10" d="M420.999,487c0,0-27.333,20-30,26s6.238,7.77,20,10.667
		c12.667,2.667,20,0.667,32.667-5.333s18.666-24.001,18.666-27.334s-4-12.666-4-12.666l-16,12.666"/>
  <g id='arm'>
    <path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M407.256,275.612c0,0-14.489,7.545-31.511,4.978
  		c-7.882-1.188-17.239-2.232-18.584-3.089c-1.343-0.855-8.495-7.061-13.049-5.47c-4.553,1.588-14.917,16.011-6.909,26.067
  		c8.006,10.056,17.115,4.281,19.805,3.396c2.688-0.885,10.636,1.102,10.636,1.102s6.723,1.68,17.237,2.234
  		c10.513,0.548,25.245-2.018,28.515-2.872c7.365-1.926,12.561-8.753,13.479-13.385C428.374,281.025,420.52,275.553,407.256,275.612z
  		"/>
  	<g>
  		<polygon fill="#FFFFFF" points="333.439,285.969 356.941,286.899 357.524,267.634 333.772,266.682 		"/>
  		<polygon fill="#B23636" points="333.772,266.682 357.524,267.634 357.903,259.173 334.242,258.485 		"/>
  		<polygon fill="#B23636" points="333.195,294.54 356.854,295.227 356.941,286.899 333.439,285.969 		"/>

  			<rect x="333.714" y="258.822" transform="matrix(0.9996 0.029 -0.029 0.9996 8.1869 -9.9195)" fill="none" stroke="#000000" stroke-miterlimit="10" width="23.671" height="36.069"/>

  			<rect x="334.803" y="272.32" transform="matrix(0.9966 0.082 -0.082 0.9966 24.038 -27.5131)" fill="none" width="24.75" height="13.499"/>
  		<text transform="matrix(0.9966 0.082 -0.082 0.9966 334.6987 279.8389)" font-family="'MyriadPro-Regular'" font-size="12">Buff</text>
  	</g>
  </g>
	<g>
    <g id = 'belly'>
  		<ellipse fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" cx="496.707" cy="333.035" rx="80.87" ry="71.967"/>
  		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M477.421,263.216c0,0-18.618,33.656-35.089,40.101
  			c-16.469,6.444-22.198,6.444-22.198,6.444S434.456,273.242,477.421,263.216z"/>
  		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M530.411,268.229c0,0,1.432,34.372,18.618,42.965
  			c17.186,8.593,27.927,14.322,27.927,14.322S573.376,286.13,530.411,268.229z"/>
  		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M483.865,262.5c0,0,23.357-2.053,35.089,1.432
  			c6.624,1.968-7.368,15.872-18.618,15.038C490.67,278.253,483.865,272.525,483.865,262.5z"/>
  		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M417.986,349.861c0,0,31.508-17.186,60.151-17.902
  			c28.644-0.716,22.915-0.717,39.385,5.012s52.275,26.496,52.275,26.496c-35.755,10.214-36.019,10.104-60.151,12.173
  			c-20.802,1.783-46.547,2.865-70.894-9.309C428.093,361.001,417.986,349.861,417.986,349.861z"/>
  		<circle cx="483.975" cy="355.806" r="1.216"/>
      <path fill="#756135" d="M449.25,326.75c5.75-3,10.25-6.75,14.75-7.5c1.744-0.291,5.25-0.25,7.25,0s6.5,0.25,6.5,0.25s5.5-1-2-4
        s-11.5-3.5-13.5-2.75s-6.778,3.776-9.75,6.5C449.5,322,449.25,326.75,449.25,326.75z"/>
      <path fill="#9B7B3A" d="M520.5,306.5c0,0,8,2,12.5,6s3.75,10.25,0.75,9.25s-10-4.75-12-4.75s-9-2.75-8.75-4.25s5-5.75,5-5.75
        L520.5,306.5z"/>
        <path fill="#223951" stroke="#000000" stroke-miterlimit="10" d="M419,352c0,0,38.263,46.935,150.798,11.467
          c0,0-34.466,53.533-69.132,46.533S425.334,374.667,419,352z"/>
    </g>

		<path stroke="#000000" stroke-miterlimit="10" d="M509.666,483c0,0,4.666,6.666,16.666,8s15.334-0.667,19.334-2
			s18.666,8.668,24.666,19.334s-8.666,15.999-22.666,16.666s-32-3.333-36-10S509.666,483,509.666,483z"/>
		<path fill="#223951" stroke="#000000" stroke-miterlimit="10" d="M472.332,385.667c0,0-34.332-29-55.666-25.667
			s-49.334,23.333-40.667,56.667s21.334,38,22.667,44s4.666,9.333,4.666,9.333s11.878,15.421,17.667,17
			c14.667,4,42,14,37.333-24.666c-3.979-32.973-10.999-45.668-17.666-52.334s23.477,1.147,36,1.334
			c22.333,0.333,48.358-1.667,53-1.667c6.562,0-57.205,81.24,2,82c52,0.667,72.666-81.333,47.333-105.333
			c-18.294-17.332-30.666-30-47.333-19.333C483.884,397.58,472.332,385.667,472.332,385.667z"/>
	</g>
	<g>
		<path fill="none" stroke="#727272" stroke-miterlimit="10" d="M567.152,398.442c0,0,5.669,0.654,8.683,2.394
			s1.232,7.827,1.327,8.877c0.095,1.05-8.759-2.071-9.885-1.652C566.15,408.48,567.152,398.442,567.152,398.442z"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="564.116" y1="401.148" x2="568.64" y2="400.848"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="563.35" y1="404.394" x2="567.796" y2="404.417"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="575.03" y1="404.241" x2="579.896" y2="405.392"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="575.543" y1="406.418" x2="578.463" y2="407.107"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="571.226" y1="400.774" x2="572.146" y2="396.881"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="574.835" y1="398.544" x2="574.146" y2="401.464"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="570.819" y1="406.843" x2="569.899" y2="410.735"/>
		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="573.738" y1="407.533" x2="573.049" y2="410.452"/>
	</g>
</g>
<g id="Mouth_Normal">
	<path fill="none" stroke="#000000" stroke-miterlimit="10" d="M483.931,248.551c0,0,12.516-1.391,22.945,1.391"/>
</g>
<g id="Mouth_Open" display="none">
	<ellipse display="inline" cx="494.667" cy="251.333" rx="5" ry="7.667"/>
</g>
</svg>

<script>
$(document).ready(function() {
  $('#carl').click(function(){
    $('#arm').css({
      "-webkit-animation-name":"moveArm",
      "-moz-animation-name":"moveArm"
    });
    $('#Eyes_Normal').attr({
      "display": "none"
    });
    $('#Eyes_Crossed').attr({
      "display": "visible"
    });
    $('#Mouth_Normal').attr({
      "display": "none"
    });
    $('#Mouth_Open').attr({
      "display": "visible"
    });
	});

  $('#arm').bind('oanimationend animationend webkitAnimationEnd', function() {
    $('#arm').css({
     '-moz-animation-name': 'armReset',
     '-webkit-animation-name': 'armReset',
    });
    $('#Eyes_Normal').attr({
      "display": "visible"
    });
    $('#Eyes_Crossed').attr({
      "display": "none"
    });
    $('#Mouth_Normal').attr({
      "display": "visible"
    });
    $('#Mouth_Open').attr({
      "display": "none"
    });
  });
});
</script>

    </div>
  </div>
</div>
