<div class="">
  <div class="row">
    <div class="col-xs-4">
      <div class="top-ui">
        <div class="top-title">
          <h1 class="reset-space">
            Buzzclicker
          </h1>
        </div>
      </div>
      <div class="bot-ui">
        
        <!-- beer buttons buff lite -->
        <div class="upgrade-frame">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text"> 
                  Buff lite 
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_lite.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">                             
                  <button type="button" class="btn btn-warning">
                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
        <!-- beer buttons buff -->
        <div class="upgrade-frame">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text"> 
                  Buff
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">                             
                  <button type="button" class="btn btn-warning">
                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
        <!-- beer buttons buff Extra -->
        <div class="upgrade-frame">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text"> 
                  Buff Extra
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_extra.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">                             
                  <button type="button" class="btn btn-warning">
                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
           <!-- beer buttons Buff Heavy -->
        <div class="upgrade-frame">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text"> 
                  Buff Heavy
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_heavy.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">                             
                  <button type="button" class="btn btn-warning">
                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
           <!-- beer buttons Buff Diesel -->
        <div class="upgrade-frame">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text"> 
                  Buff Diesel
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_diesel.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">                             
                  <button type="button" class="btn btn-warning">
                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>
           <!-- beer buttons Buff HOLY SHIT -->
        <div class="upgrade-frame">
          <div class="upgrade-button">
            <div class="row reset-space">
              <div class="col-xs-7 reset-space">
                <h3 class="button-text"> 
                  Buff HOLY S***
                </h3>
              </div>
              <div class="col-xs-2 reset-space">
                <div class="beer-icon">
                  <img class="beer-img" src="/assets/buff_holy.png">
                </div>
              </div>
              <div class="col-xs-3 beer-hit-button reset-space">                             
                  <button type="button" class="btn btn-warning">
                    Upgrade
                  </button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-8">
      <div class="top-ui">
        <div class="meter-placement">
          <h1 class="reset-space">Drunk Meter</h1>
          <div id="bar" ng-style="{ width : bc.barWidth }">
          </div>
        </div>
      </div>

      <svg id = 'couch_man' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
      	 height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
      <g id="Layer_1">
      	<path fill="#30241B" d="M117.247,482h581.068c0,0,26.686-9.54,26.686-35.214c0-25.676,0-104.053,0-104.053S723.989,304,673.99,304
      		s-549.987,0-549.987,0S74,308.951,74,349.49c0,40.539,0,94.593,0,94.593S79.41,482,117.247,482z"/>
      	<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="123.5,304 123.5,409.5 674.5,409.5 674.5,304 	"/>
      	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="298.5" y1="306" x2="298.5" y2="409"/>
      	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="499.5" y1="306" x2="499.5" y2="409"/>
      	<path fill="#544622" d="M88.869,446.786c0,0-2.703-17.567,9.459-16.217c12.162,1.352,21.621-2.703,22.973,6.757
      		c1.351,9.46-6.757,17.566-2.703,22.973c4.054,5.405,5.406,10.811,1.352,13.514c-4.054,2.702-25.675,2.702-22.972-2.703
      		c2.702-5.405,6.756,1.351,2.702-5.405c-4.054-6.757-1.351-16.217-1.351-16.217L88.869,446.786z"/>
      	<path fill="#544622" d="M674,410v-18.618v-16.217c0,0-18.922-8.107-21.626,2.703c-2.702,10.811-8.11,9.459-13.515,16.216
      		c-5.405,6.757-13.514,2.553-16.217,9.309c-2.703,6.757-9.461,6.607-9.461,6.607H674z"/>
      	<rect x="132" y="482" width="17" height="31"/>
      	<rect x="659" y="482" width="17" height="31"/>
      	<path fill="#1C1608" d="M124,303.545v35.134c0,0,16.218-1.352,16.218,5.405c0,6.757,1.352,14.864,6.756,12.162
      		c5.406-2.703,12.164-10.812,10.812-20.27c-1.352-9.459,8.107-10.811,4.055-14.865c-4.055-4.053-4.507-17.115-4.507-17.115
      		L124,303.545z"/>
      	<path fill="#1E1404" d="M421.294,482h52.702c0,0,4.954-24.814-3.153-25.715c-8.107-0.902-21.622-15.334-27.027-15.334
      		c-5.404,0-22.521,3.591-27.026,9.897c-4.504,6.307-19.817,9.904-13.512,15.31c6.305,5.405,12.61,6.345,14.412,9.949
      		C419.492,479.709,421.294,482,421.294,482z"/>
      	<path fill="#493920" d="M267.243,410h-24.324c0,0-0.45-10.659,4.955-16.065c5.405-5.405,14.415-8.933,14.415-8.933
      		s10.811,8.145,16.216,8.145s10.81-0.132,12.612,3.473c1.802,3.604,7.208,13.381,7.208,13.381H267.243z"/>
      </g>
      <g id="Layer_2" ng-click="bc.drink(bc.level)">
      	<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M463.25,267.75c0,0-28,1.25-39.5,2.75
      		c-8.177,1.066-29.25,7.75-27.5,16.25s4.75,11.5,9.25,11.5s18,1.25,20,0.75S441,273.5,463.25,267.75z"/>
      	<ellipse fill="#CEB797" stroke="#000000" stroke-miterlimit="10" cx="501.661" cy="238.643" rx="42.241" ry="33.376"/>
      	<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="476.972,227.647 491.047,233.875 478.424,241.754 	"/>
      	<polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="513.819,244.239 501.105,235.564 514.948,230.102 	"/>
      	<path fill="none" stroke="#000000" stroke-miterlimit="10" d="M483.931,248.551c0,0,12.516-1.391,22.945,1.391"/>
      	<polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="514.873,222.128 523.217,213.785
      		527.389,223.519 532.951,213.089 535.732,223.519 540.601,212.394 	"/>
      	<polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="474.892,221.433 471.415,209.612
      		467.938,220.042 462.376,212.394 	"/>
      	<path stroke="#000000" stroke-miterlimit="10" d="M420.999,487c0,0-27.333,20-30,26s6.238,7.77,20,10.667
      		c12.667,2.667,20,0.667,32.667-5.333s18.666-24.001,18.666-27.334s-4-12.666-4-12.666l-16,12.666"/>
      	<path class = 'arm' fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M401.349,273.509c0,0-14.26,7.971-31.351,5.908
      		c-7.913-0.954-17.296-1.72-18.666-2.537c-1.369-0.815-8.701-6.807-13.206-5.082c-4.504,1.723-14.437,16.446-6.135,26.261
      		c8.3,9.815,17.234,3.772,19.896,2.807c2.661-0.965,10.664,0.786,10.664,0.786s6.77,1.481,17.296,1.723
      		c10.524,0.237,25.174-2.764,28.418-3.714c7.305-2.144,12.295-9.121,13.076-13.778C422.617,278.294,414.604,273.058,401.349,273.509
      		z"/>
      	<g>
      		<ellipse fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" cx="496.707" cy="333.035" rx="80.87" ry="71.967"/>
      		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M477.421,263.216c0,0-18.618,33.656-35.089,40.101
      			c-16.469,6.444-22.198,6.444-22.198,6.444S434.456,273.242,477.421,263.216z"/>
      		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M530.411,268.229c0,0,1.432,34.372,18.618,42.965
      			c17.186,8.593,27.927,14.322,27.927,14.322S573.376,286.13,530.411,268.229z"/>
      		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M483.865,262.5c0,0,23.357-2.053,35.089,1.432
      			c6.624,1.968-7.368,15.872-18.618,15.038C490.67,278.253,483.865,272.525,483.865,262.5z"/>
      		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M417.986,349.861c0,0,31.508-17.186,60.151-17.902
      			c28.644-0.716,22.915-0.717,39.385,5.012s52.275,26.496,52.275,26.496c-35.755,10.214-36.019,10.104-60.151,12.173
      			c-20.802,1.783-46.547,2.865-70.894-9.309C428.093,361.001,417.986,349.861,417.986,349.861z"/>
      		<circle cx="483.975" cy="355.806" r="1.216"/>
      		<path stroke="#000000" stroke-miterlimit="10" d="M509.666,483c0,0,4.666,6.666,16.666,8s15.334-0.667,19.334-2
      			s18.666,8.668,24.666,19.334s-8.666,15.999-22.666,16.666s-32-3.333-36-10S509.666,483,509.666,483z"/>
      		<path fill="#CEB797" stroke="#000000" stroke-miterlimit="10" d="M571,304.5h62.25c0,0-4-7.5-21.667-17.125
      			c-40.064-21.827-76.083-16.792-76.083-16.792S559.5,282.25,571,304.5z"/>
      		<path fill="#223951" stroke="#000000" stroke-miterlimit="10" d="M419,352c0,0,38.263,46.935,150.798,11.467
      			c0,0-34.466,53.533-69.132,46.533S425.334,374.667,419,352z"/>
      		<path fill="#223951" stroke="#000000" stroke-miterlimit="10" d="M472.332,385.667c0,0-34.332-29-55.666-25.667
      			s-49.334,23.333-40.667,56.667s21.334,38,22.667,44s4.666,9.333,4.666,9.333s11.878,15.421,17.667,17
      			c14.667,4,42,14,37.333-24.666c-3.979-32.973-10.999-45.668-17.666-52.334s23.477,1.147,36,1.334
      			c22.333,0.333,48.358-1.667,53-1.667c6.562,0-57.205,81.24,2,82c52,0.667,72.666-81.333,47.333-105.333
      			c-18.294-17.332-30.666-30-47.333-19.333C483.884,397.58,472.332,385.667,472.332,385.667z"/>
      	</g>
      	<path fill="#756135" d="M449.25,326.75c5.75-3,10.25-6.75,14.75-7.5c1.744-0.291,5.25-0.25,7.25,0s6.5,0.25,6.5,0.25s5.5-1-2-4
      		s-11.5-3.5-13.5-2.75s-6.778,3.776-9.75,6.5C449.5,322,449.25,326.75,449.25,326.75z"/>
      	<path fill="#9B7B3A" d="M520.5,306.5c0,0,8,2,12.5,6s3.75,10.25,0.75,9.25s-10-4.75-12-4.75s-9-2.75-8.75-4.25s5-5.75,5-5.75
      		L520.5,306.5z"/>
      	<g>
      		<path fill="none" stroke="#727272" stroke-miterlimit="10" d="M567.152,398.442c0,0,5.669,0.654,8.683,2.394
      			s1.232,7.827,1.327,8.877c0.095,1.05-8.759-2.071-9.885-1.652C566.15,408.48,567.152,398.442,567.152,398.442z"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="564.116" y1="401.148" x2="568.64" y2="400.848"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="563.35" y1="404.394" x2="567.796" y2="404.417"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="575.03" y1="404.241" x2="579.896" y2="405.392"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="575.543" y1="406.418" x2="578.463" y2="407.107"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="571.226" y1="400.774" x2="572.146" y2="396.881"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="574.835" y1="398.544" x2="574.146" y2="401.464"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="570.819" y1="406.843" x2="569.899" y2="410.735"/>
      		<line fill="none" stroke="#727272" stroke-miterlimit="10" x1="573.738" y1="407.533" x2="573.049" y2="410.452"/>
      	</g>
      	<g>
      		<polygon fill="#FFFFFF" points="327.87,286.047 351.391,286.282 351.402,267.006 327.633,266.758 		"/>
      		<polygon fill="#B23636" points="327.633,266.758 351.402,267.006 351.529,258.538 327.859,258.551 		"/>
      		<polygon fill="#B23636" points="327.88,294.621 351.55,294.607 351.391,286.282 327.87,286.047 		"/>
      		<rect x="327.87" y="258.545" fill="none" stroke="#000000" stroke-miterlimit="10" width="23.67" height="36.07"/>

      			<rect x="329.023" y="271.995" transform="matrix(0.9986 0.0524 -0.0524 0.9986 15.0867 -17.519)" fill="none" width="24.75" height="13.499"/>
      		<text transform="matrix(0.9986 0.0525 -0.0525 0.9986 328.939 279.8398)" font-family="'MyriadPro-Regular'" font-size="12">Buff</text>
      	</g>
      </g>
      </svg>

    </div>
  </div>
</div>
