<div class="">
  <div class="row">
    <div class="col-xs-4">
      <div class="top-ui">
        <h1 class="reset-space">Buzzclicker</h1>
      </div>
      <div class="bot-ui">
        <h2 class="reset-space">
          PBR beer
        </h2>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="top-ui">
        <div class="meter-placement">
          <h1 class="reset-space">Drunk Meter</h1>            
          <div class="meter red">
            <span class="drunkity">
            </span>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
