<!DOCTYPE>
<html ng-app="buzzClicker">

<head>
 <title>Buzzclicker</title>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 <!-- Jquery -->
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>

 <!-- Angualar -->
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
 <script type="text/javascript" src="scripts/app.js"></script>

 <!-- CSS -->
 <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<script>
$(function() {
	$(".meter > span").each(function() {
		$(this)
			.data("origWidth", $(this).width())
			.width(0)
			.animate({
				width: $(this).data("origWidth")
			}, 400);
	});
});
</script>

</head>

 <body class="bg-color" ng-controller="buzzClickerController as bc">
   <%- body %>
 </body>

</html>
