<!DOCTYPE>
<html ng-app="buzzClicker">

<head>
 <title>Buzzclicker</title>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 <!-- Jquery -->
 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

 <!-- Angualar -->
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
 <script type="text/javascript" src="scripts/app.js"></script>

 <!-- CSS -->
 <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

</head>

 <body class="bg-color" ng-controller="buzzClickerController as bc">
   <%- body %>
   <div class="floor"></div>
 </body>

</html>
