/* CSS */
* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 1em;
}

.reset-space{
	margin: 0;
	padding: 0;
}

.bg-color{
	background-color: #370104;
}

.top-ui{
	height: 100px;
	color: lightgray;
	background-color: #640207;
	margin: 8px;
}
.top-title{
	padding: 27px 0 0 30px;
}
.bot-ui{
	height: 600px;
	background-color: #640207;
	margin: 8px;
}

#counter {
	height: 50px;
	font-size: 40px;
	text-align: center;
	line-height: 1.4em
}
.counterText {
	margin: 0;
	padding: 0;
	font-size:20px;
	width:20%;
}
.reset-space{
	margin: 0;
	padding: 0;
	font-size:20px;
}

.meter-placement{
	display: flex;
	font-size: 10px;
}

#barHolder {
	font-size:20px;
	height: 50px;
	width: 80%;
	padding-right: 10px;
}

#counterHolder{
	padding-left: 10px;
	padding-right: 10px;
}
#bar{
	width: 0%;
	height: 50px;
	background-color: #370104;
	height: 50px;
	transition: width 0.2s ease;
	border-radius: 2px;
}
#carl:hover {
	cursor: pointer;
}

.upgrade-frame{
	display: none;
	padding: 5px;
}

.upgrade-1 {
	display: block;
}

.original{
	display: block;
}
.upgrade-button{
	background-color: #B56408;
	height: 75px;
}
.button-text{
	color: lightgray;
	margin-left: 10px
}
.beer-icon{
	padding-left: 10px;
	padding-top: 10px;
}
.beer-img{
	 width:50px;
	 height:60px;
}
.beer-hit-button{
	padding-top: 20px;
	padding-left: 5px;
}

.floor {
	width: 100%;
	height: 50vh;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background-color: #2C0502;
}

.row {
	width: 100%;
	margin: 0;
}

.col-xs-4 {
	margin-left: 15px;

}

.col-xs-4,
.col-xs-8 {
	padding: 0;
}

.col-xs-8 {
	width: 60%;
}

.meter-placement {
	width: 100%;
}

#arm {
  -webkit-animation: .1s ease-in-out;
	transform-origin: 90% 40%;
}

@-webkit-keyframes moveArm {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(140deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes moveArm {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes armReset {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes armReset {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
}

#belly:hover{
  -webkit-animation: inflate 1s ease;
  -webkit-animation-iteration-count: infinite;
  /*transition: all 0.3s ease;*/
  transform-origin: 50% 50%;
}

@-webkit-keyframes inflate{
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
