/* CSS */
.reset-space{
	margin: 0;
	padding: 0;
}
.bg-color{
	background-color: #669999;
}
.top-ui{
	height: 100px;
	background-color: #ffcc66;
	box-shadow: 5px 5px 5px #cc6633;
	margin: 8px;
}
.bot-ui{
	height: 800px;
	background-color: #ff9933;
	box-shadow: 5px 5px 5px #cc6633;
	margin: 8px;
}

#bar{
	width: 0%;
	background-color: red;
	height: 50px;
	margin-left: 5px;
	transition: width 0.2s ease;
	border-radius: 2px;
}
