/* CSS */
.bg-color{
	background-color: #669999;
}
.top-ui{
	height: 100px;
	background-color: #ffcc66;
	box-shadow: 5px 5px 5px #cc6633;
	margin: 8px;
}
.top-title{
	padding-top: 20px;
	padding-left: 20px;
	color: darkred;
}
.bot-ui{
	height: 600px;
	background-color: #ff9933;
	box-shadow: 5px 5px 5px #cc6633;
	margin: 8px;
}
#counter {
	height: 50px;
	font-size: 40px;
	text-align: center;
	line-height: 1.4em
}
.counterText {
	margin: 0;
	padding: 0;
	font-size:20px;
	width:20%;
}
.reset-space{
	margin: 0;
	padding: 0;
	font-size:20px;
}

.meter-placement{
	display: flex;
	font-size: 10px;
}

#barHolder {
	font-size:20px;
	height: 50px;
	width: 80%;
	padding-right: 10px;
}

#counterHolder{
	padding-left: 10px;
	padding-right: 10px;
}
#bar{
	width: 0%;
	height: 50px;
	background-color: red;
	height: 50px;
	transition: width 0.2s ease;
	border-radius: 2px;
}
#carl:hover {
	cursor: pointer;
}

.upgrade-frame{
	display: none;
	padding: 5px;
}

.original{
	display: block;
}
.upgrade-button{
	background-color: white;
	height: 75px;
}
.button-text{
	color: brown;
	margin-left: 10px
}
.beer-icon{
	padding-left: 10px;
	padding-top: 10px;
}
.beer-img{
	 width:50px;
	 height:60px;
}
.beer-hit-button{
	padding-top: 20px;
	padding-left: 5px;
}

#arm {
  -webkit-animation: .1s ease-in-out;
	transform-origin: 90% 40%;
}

@-webkit-keyframes moveArm {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(140deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes moveArm {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes armReset {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes armReset {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
}
